<div class='movie-picture item'>
  <img src="{{url}}">
  <a href="/movies/{{movieId}}/pictures/{{id}}" data-remote="true" data-method="delete" class="btn-remove btn-round-small">
    <i class="fa fa-trash"></i>
  </a>
</div>
