<div class='movie-picture item' style="display:inline-block; margin:10px;">
  <img src="{{url}}">
  <a href="/movies/{{movieId}}/pictures/{{id}}" data-remote="true" data-method="delete" class="icon-remove">Remove</a>
</div>
